


.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--body-color);
}

.widget-wrap{
  padding-bottom: 40px;
  height: 100%;

.widget {
  box-shadow: var(--widget-shadow);
  padding: 15px 20px;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  height: 100%;

  .title {
    color: #444;
  }

  .widgetBody {
    margin-top: 15px;
  }
  .mt{
    margin-top: 1.4rem;
  }
  }
}